@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.root {
  --color-gray-lighter: #a3a3a3;
  --color-gray-light: #383838;
  --color-gray: #232323;
  --color-gray-dark: #121212;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #ff4d00;
  --color-row-odd: #14151a60;
  --color-row-even: #14151a90;
  --header-height: 24px;

  color-scheme: dark;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  // max-height: 40vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background: #2b2d37;
  border-top: 1px solid var(--color-gray-light);
  overflow: hidden;
  line-height: 1;
  font-family: 'JetBrains Mono', monospace;
  visibility: hidden;
  color: var(--color-white);
  transition: opacity 0.2s ease-out;
  isolation: isolate;

  &.ghost {
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }

  &.initialized {
    visibility: visible;
  }

  .header {
    background: var(--color-gray-dark);
    text-align: center;
    height: var(--header-height);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;

    .handle {
      width: 64px;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2px 0px;

      &:hover {
        cursor: ns-resize;
      }

      &::before,
      &::after {
        content: '';
        position: relative;
        display: block;
        width: 16px;
        height: 1px;
        background: var(--color-white);
      }
    }

    .actions {
      display: flex;
      // gap: 0 8px;
      align-items: center;
      height: 100%;

      .button {
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 24px;
        background: var(--color-gray);
        border-left-width: 1px;
        border-style: solid;
        border-color: var(--color-gray-light);

        svg {
          width: 14px;
          height: 14px;
        }
      }

      .scrollToRoot {
        display: flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        gap: 0 8px;

        .text {
          transform: translateY(0.05em);
        }
      }
    }
  }

  .main {
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    max-height: calc(100vh - var(--header-height));
    background: var(--color-black);
    flex: 1;
    overflow: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    align-items: stretch;
    overflow-x: clip;

    .side {
      position: sticky;
      top: 0;

      --controls-height: 0px;

      &.has-controls {
        --controls-height: 32px;
      }

      .info {
        height: calc(100% - var(--controls-height));
        width: 100%;
        overflow-y: auto;
        border-right: 1px solid var(--color-gray-light);
        font-size: 12px;

        .info-title {
          position: sticky;
          top: 0px;
          text-align: center;
          padding: 8px;
          background: var(--color-gray-dark);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .list {
          width: 100%;
          display: grid;
          grid-template-columns: 50% 50%;
          height: max-content;
          min-height: 0;

          .key:not(.no-padding),
          .value:not(.no-padding) {
            padding: 8px;
          }

          .key {
            background: var(--color-row-even);
            height: 100%;
            width: 100%;
          }

          .value {
            background: var(--color-row-odd);
            text-align: right;
            align-items: center;
            height: 100%;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .controls {
        border-top: 1px solid var(--color-gray-light);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;

        .play-pause,
        .restart,
        .loop {
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--color-gray-dark);

          /* Minus 1px border */
          height: calc(var(--controls-height) - 1px);
        }

        .loop {
          font-size: 16px;
          background: var(--color-gray);

          &.looping {
            background: var(--color-white);
            color: var(--color-black);
          }
        }
      }
    }

    .timeline {
      --padding-y: 12px;
      --padding-right: 32px;
      --padding-left: 24px;

      position: relative;
      height: max-content;
      min-height: 100%;
      width: 100%;
      padding: var(--padding-y) var(--padding-right) var(--padding-y)
        var(--padding-left);
      display: flex;
      flex-direction: column;

      .timeline-inside {
        position: relative;
        width: 100%;
        flex: 1;
      }

      .guides {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        pointer-events: none;
        height: 100%;

        // &::before {
        //   z-index: 10;
        //   content: '';
        //   position: sticky;
        //   height: 32px;
        //   width: 100%;
        //   transform: scaleX(1.01);
        //   background: linear-gradient(
        //     180deg,
        //     var(--color-black) 0%,
        //     transparent 100%
        //   );
        //   top: 0;
        // }

        .guides-inner {
          position: sticky;
          top: var(--padding-y);
          width: 100%;
          height: calc(var(--viewport-height) - var(--padding-y) * 2 - 20px);
          padding-top: 20px;

          .guide {
            position: absolute;
            height: 100%;
            font-size: 14px;

            .line {
              position: relative;
              top: 0;
              border-right: 1px dashed #fff8;
              height: 100%;
              width: 1px;
            }

            .percent {
              position: absolute;
              padding-bottom: 16px;
              top: 12px;
              display: inline-block;
              line-height: 1;
              transform: translateX(-50%) translateY(-100%);
              color: #fff8;
            }
          }
        }
      }

      .progress {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;

        .progress-inner {
          position: sticky;
          height: calc(var(--viewport-height) - var(--padding-y) * 2 - 20px);
          padding-top: 20px;
          top: var(--padding-y);
        }

        .trail {
          position: absolute;
          height: 100%;
          left: 0;
          width: 100%;
          overflow: hidden;

          .gradient {
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            width: 200px;
            background: linear-gradient(
              270deg,
              rgb(255 255 255 / 0.14) 0.53%,
              rgb(255 255 255 / 0) 100%
            );
            transform: translateX(-100%);
          }
        }

        .marker {
          pointer-events: all;
          position: absolute;
          height: calc(100% - 12px);
          margin-top: 12px;
          width: 1px;
          background: var(--color-white);
          box-sizing: content-box;
          font-size: 14px;
          cursor: ew-resize;

          .thumb {
            z-index: 10;
            top: 0px;
            transform: translateX(-50%) translateY(-100%);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 2px;

            .percent {
              line-height: 1;
              padding-bottom: 3px;
            }
          }
        }
      }

      .tweens {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .row {
          display: flex;
          align-items: center;
          height: 30px;
          padding: 4px 0;

          &:nth-child(odd) {
            background: #14151a60;
          }

          &:nth-child(even) {
            background: #14151a90;
          }
        }
      }
    }
  }

  .footer {
    display: none;
    background: var(--color-gray-dark);
    text-transform: uppercase;
    text-align: center;
    padding: 4px 16px;
    min-height: 44px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);

    .version {
      color: var(--color-gray-lighter);
    }

    .bsmnt {
      color: var(--color-orange);
    }
  }
}

.tween {
  --duration-percentage: 0;
  --start-offset-percentage: 0;

  left: var(--start-offset-percentage);

  /* (1px for outline width + 1px for outline offset) */
  width: calc(var(--duration-percentage) - 3px);
  cursor: default;
  font-size: 12px;
  color: var(--color-white);
  position: relative;
  display: flex;
  align-items: center;
  min-height: 12px;
  height: 18px;
  background: white;
  padding-left: 8px;
  font-weight: 500;
  border-radius: 0px 4px 4px 0px;
  margin: 0 2px;
  outline: 1px solid var(--tween-color, var(--color-gray-light));
  outline-offset: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.set {
  --duration-percentage: 0;
  --start-offset-percentage: 0;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: var(--start-offset-percentage);
  transform: translateX(-50%);
  width: 22px;
  height: 22px;

  /* (1px for outline width + 1px for outline offset) */

  .set-inner {
    position: absolute;
    // top: 50%;
    // left: 50%;
    min-width: 0;
    min-height: 0;
    width: 13px;
    height: 13px;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    cursor: default;
    font-size: 12px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    background: white;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    outline-offset: 1px;
    outline: 1px solid var(--tween-color, var(--color-gray-light));
  }
}

.waypoint {
  --start-offset-percentage: 0;
  --outline-color: transparent;

  position: relative;
  left: var(--start-offset-percentage);
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gray);
  border: 1px solid var(--color-gray-light);
  border-radius: 6px;
  transform: translateX(-50%);
  outline: 1px solid var(--outline-color);

  .onCall,
  .onReverseCall {
    opacity: 0;
    transition-property: transform opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .onCall {
    position: absolute;
    right: -8px;
    transform: translateX(50%);

    &.active {
      opacity: 1;
      transform: translateX(100%) scale(1.2);
    }
  }

  .onReverseCall {
    position: absolute;
    left: -8px;
    transform: translateX(-50%);

    &.active {
      opacity: 1;
      transform: translateX(-100%) scale(1.2);
    }
  }
}

.waypoint,
.tween,
.set .set-inner {
  &.selected {
    transition-property: outline-color outline-width;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    outline: 2px solid var(--color-orange);
  }
}

.selectWrapper {
  position: relative;

  .select {
    appearance: none;
    cursor: pointer;
    background: var(--color-gray);
    color: var(--color-white);
    border-right: 1px solid var(--color-gray-light);
    height: 24px;
    width: max-content;
    min-width: 110px;
    padding: 0 8px;
    padding-right: 24px;
  }

  .arrow {
    pointer-events: none;
    position: absolute;
    content: '';
    right: 8px;
    top: 50%;
    width: 12px;
    height: 12px;
    z-index: 10;
    transform: translateY(-50%);
  }
}

.highlight {
  background: #ec5b29aa;
  z-index: 999;
}

@media (max-width: 768px) {
  .root {
    left: 50%;
    transform: translateX(-50%);

    .version {
      display: none;
    }

    .scrollToRoot {
      .text {
        display: none;
      }
    }
  }
}
